body{
	background-color: beige;
}
.center{
	width: 960px;
	margin: auto;
	text-align: center;
}
.center2{
	width: 960px;
	margin: auto;
}
.padding{
	padding: 20px 10px 20px 10px;
	font-size: 40px;
}
.padding2{
	padding: 15px 10px 15px 10px;
	font-size: 20px;
}
h1>a{
	color:powderblue;
}
span, a{
	color: green;
	text-decoration:none;
}
img{
	float: right;

}